.info-section {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8;
  padding: 2rem 4rem;
  text-align: center;
}

.info-section__light {
  background-color: #fff4e6;
  color: #ab3a20;
  color: #495057;
}

.info-section__pink {
  background-color: #ffe3e3;
  color: #495057;
}
